@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* ======================================
       'ALL COMMON CSS' PART START
====================================== */
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

body{
    font-family: "Azeret Mono", monospace;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
/* ======================================
       'ALL COMMON CSS' PART END
====================================== */



/* ======================================
            'NAVBAR' PART START
====================================== */
#navbar .nav_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}

#navbar .nav_contents h3{
    font-weight: 800;
    font-size: 28px;
}

#navbar .nav_contents a{
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* ======================================
            'NAVBAR' PART END
====================================== */


/* ======================================
            'BANNER' PART START
====================================== */
#banner{
    background-image: url(images/background-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

#banner .banner_contents{
    text-align: center;
}

#banner .banner_contents h2{
    font-weight: 800;
    font-size: 48px;
    margin-top: 25px;
}

#banner .banner_contents p{
    font-weight: 400;
    font-size: 16px;
    max-width: 852px;
    margin: 25px auto;
    color: #545862;
}

#banner .banner_contents a{
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* ======================================
            'BANNER' PART END
====================================== */


/* ======================================
     'ALL PART SECTION HEADING' START
====================================== */
.section_heading{
    text-align: center;
}

.section_heading h3{
    font-weight: 800;
    font-size: 32px;
}

.section_heading p{
    font-weight: 400;
    font-size: 16px;
    color: #545862;
    margin: 20px auto 48px;
    max-width: 852px;
}
/* ======================================
     'ALL PART SECTION HEADING' END
====================================== */


/* ======================================
         'DEVELOPMENT' PART START
====================================== */
#development{
    margin: 50px 0px;
}

#development .development_main{
    background-color: #FAFAFB;
    padding: 80px 0px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#development .development_main .dev_contents .dev_contents_items{
    color: #555A63;
    margin: 30px 70px;
    padding: 10px 0px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#development .development_main .dev_contents .left{
    background: linear-gradient(90deg, white, #FAFAFB);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#development .development_main .dev_contents .right{
    background: linear-gradient(90deg, #FAFAFB, white);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#development .development_main .dev_contents .text_part{
    padding: 15px 50px;
    width: 65%;
}

#development .development_main .dev_contents .img_part{
    width: 35%;
    text-align: center;
}

#development .development_main .dev_contents text_part h4{
    font-weight: 700;
    font-size: 26px;
}

#development .development_main .dev_contents .text_part p{
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
}

#development .development_main .dev_contents .text_part a{
    font-weight: 600;
    font-size: 20px;
    color: #555A63;
    border: 2px solid #555A63;
    padding: 10px 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* ======================================
         'DEVELOPMENT' PART END
====================================== */


/* ======================================
        'INSPIRATION' PART START
====================================== */
#inspiration{
    padding: 80px 0px;
}

#inspiration .ins_content{
    height: 660px;
    border: 2px solid #FAFAFB;
    padding: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#inspiration .ins_content iframe{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* ======================================
        'INSPIRATION' PART END
====================================== */